<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="/css/styles-home.css">
</head>
<body>
    <main>
        <section>
            <nav>
                <a href="/home">HOME</a>
                <a href="/about">ABOUT</a>
                <a href="/works">WORKS</a>
            </nav>
        </section>
        <section>
            <H1>Welcome to the Alan Turing website!!!</H1>
            <img src="/images/Alan_Turing_Aged_16.jpg" alt="Alan Turing Age 16">
        </section>
        
    </main>
</body>
</html>