<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles-works.css">
    <title>WORKS</title>
</head>
<body>
    <section>
        <nav>
            <a href="/home">HOME</a>
            <a href="/about">ABOUT</a>
            <a href="/works">WORKS</a>
        </nav>
    </section>
    <section>
        <H1>The work of the Alan Turing</H1>
        <ul>
            <li><h3>Bombe</h3></li>
            <li>Within weeks of arriving at Bletchley Park, Turing had specified an electromechanical machine called the bombe, 
               <br> which could break Enigma more effectively than the Polish bomba kryptologiczna, from which its name was derived. 
               <br>The bombe, with an enhancement suggested by mathematician Gordon Welchman, became one of the primary tools, and 
               <br>the major automated one, used to attack Enigma-enciphered messages. A working replica of a bombe now at The National 
               <br>Museum of Computing on Bletchley Park
               <br>
               <br>The bombe searched for possible correct settings used for an Enigma message (i.e., rotor order, rotor settings and 
               <br>plugboard settings) using a suitable crib: a fragment of probable plaintext. For each possible setting of the rotors 
               <br>(which had on the order of 1019 states, or 1022 states for the four-rotor U-boat variant), the bombe performed a 
               <br>chain of logical deductions based on the crib, implemented electromechanically.
               <br>
               <br>The bombe detected when a contradiction had occurred and ruled out that setting, moving on to the next. Most of the 
               <br>possible settings would cause contradictions and be discarded, leaving only a few to be investigated in detail. A 
               <br>contradiction would occur when an enciphered letter would be turned back into the same plaintext letter, which was 
               <br>impossible with the Enigma. The first bombe was installed on 18 March 1940. </li>
        </ul>

        <ul>
            <li><h3>Hut 8 and the naval Enigma</h3></li>
            <li>Turing decided to tackle the particularly difficult problem of German naval Enigma "because no one else was doing anything
                <br>about it and I could have it to myself".[99] In December 1939, Turing solved the essential part of the naval indicator 
                <br>system, which was more complex than the indicator systems used by the other services
                <br>
                <br>That same night, he also conceived of the idea of Banburismus, a sequential statistical technique (what Abraham Wald later 
                <br>called sequential analysis) to assist in breaking the naval Enigma, "though I was not sure that it would work in practice, 
                <br>and was not, in fact, sure until some days had actually broken".[99] For this, he invented a measure of weight of evidence
                <br>that he called the ban. Banburismus could rule out certain sequences of the Enigma rotors, substantially reducing the time 
                <br>needed to test settings on the bombes. Later this sequential process of accumulating sufficient weight of evidence using 
                <br>decibans (one tenth of a ban) was used in Cryptanalysis of the Lorenz cipher.</li>
            
        </ul>
    </section>
    
</body>
</html>